<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/screen.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>I thought you might like to see this: <%= Pi %></p>
	<p> Also: <%= inside %>/<%= outside %></p>
  </body>
</html>