<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/screen.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p class="focus">Result for PI: <%= Pi %></p>
	<small> Calculated from: <%= inside %>/<%= outside %></small>
  </body>
</html>